<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="pluginsProductEspressif.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="pluginsProductEspressif.commands.category"
            name="New Product"
            id="pluginsProductEspressif.commands.newproduct">
      </command>
      <command
            categoryId="pluginsProductEspressif.commands.category"
            name="Search Product"
            id="pluginsProductEspressif.commands.searchproduct">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pluginsproductespressif.handlers.NewProductHandler"
            commandId="pluginsProductEspressif.commands.newproduct">
      </handler>
      <handler
            class="pluginsproductespressif.handlers.SearchProductHandler"
            commandId="pluginsProductEspressif.commands.searchproduct">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="pluginsProductEspressif.commands.newproduct"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="pluginsProductEspressif.commands.searchproduct"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="pluginsProductEspressif.menus.sampleMenu"
               label="Products Espressif"
               mnemonic="M">
            <command
                  commandId="pluginsProductEspressif.commands.newproduct"
                  id="pluginsProductEspressif.menus.newproduct"
                  mnemonic="S">
            </command>
            <command
                  commandId="pluginsProductEspressif.commands.searchproduct"
                  id="pluginsProductEspressif.commands.searchproduct"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="pluginsProductEspressif.toolbars.sampleToolbar">
            <command
                  id="pluginsProductEspressif.toolbars.newproduct"
                  commandId="pluginsProductEspressif.commands.newproduct"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
            <command
                  id="pluginsProductEspressif.commands.searchproduct"
                  commandId="pluginsProductEspressif.commands.searchproduct"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="pluginsProductEspressif"
            name="View Search Product">
      </category>
      <view
            category="pluginsProductEspressif"
            class="pluginsproductespressif.views.SampleViewSeachProduct"
            icon="icons/sample.png"
            id="pluginsproductespressif.views.SampleViewSeachProduct"
            inject="true"
            name="View Search Product">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="pluginsproductespressif.views.SampleViewSeachProduct"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
